exclude: '^($|.*\.bin)'
repos:
  - repo: local
    hooks:
      - id: rst
        name: rst
        entry: rst-lint --encoding utf-8
        files: ^(CHANGELOG.rst|README.rst|HOWTORELEASE.rst|changelog/.*)$
        language: python
        additional_dependencies: [pygments, restructuredtext_lint]
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.7.4
    hooks:
      - id: ruff
        args: ["--fix"]
      - id: ruff-format
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.13.0
    hooks:
      - id: mypy
        files: ^(src|tests)
        args: []
        additional_dependencies: [pytest>=6, types-mock]
