exclude: '^($|.*\.bin)'
repos:
  - repo: https://github.com/psf/black
    rev: 23.9.1
    hooks:
      - id: black
        args: [--safe, --quiet]
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
  - repo: local
    hooks:
      - id: rst
        name: rst
        entry: rst-lint --encoding utf-8
        files: ^(CHANGELOG.rst|README.rst|HOWTORELEASE.rst|changelog/.*)$
        language: python
        additional_dependencies: [pygments, restructuredtext_lint]
  - repo: https://github.com/asottile/reorder-python-imports
    rev: v3.12.0
    hooks:
    - id: reorder-python-imports
      args: ['--application-directories=.:src']
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.6.0  # NOTE: keep this in sync with tox.ini
    hooks:
      - id: mypy
        files: ^(src|tests)
        args: []
        additional_dependencies: [pytest>=6, types-mock]
