language: python
python:
  - 2.6
  - 2.7
  - 3.2
  - 3.3
  - 3.4
  - pypy

install:
  - pip install coveralls --use-wheel

script:
  - python setup.py develop
  - coverage run --source=pytest_mock.py runtests.py

after_success:
  - coveralls
