name: deploy

on:
  push:
    tags:
      - "v*"

jobs:

  deploy:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: Set up Python
      uses: actions/setup-python@v1
      with:
        python-version: "3.7"    
    - uses: hynek/build-and-inspect-python-package@v1.5
    - name: Publish package to PyPI
      uses: pypa/gh-action-pypi-publish@master
      with:
        user: __token__
        password: ${{ secrets.pypi_token }}
    - name: Generate release notes
      run: |
        pip install pypandoc
        sudo apt-get install pandoc
        python scripts/gen-release-notes.py
    - name: GitHub Release
      uses: softprops/action-gh-release@v1
      with:
        body_path: scripts/latest-release-notes.md
