name: deploy

on:
  workflow_dispatch:
    inputs:
      version:
        description: 'Release version'
        required: true
        default: '1.2.3'

jobs:

  deploy:
    runs-on: ubuntu-latest
    environment: deploy
    permissions:
      id-token: write  # For PyPI trusted publishers.
      contents: write  # For tag and release notes.
    env:
      SETUPTOOLS_SCM_PRETEND_VERSION: ${{ github.event.inputs.version }}

    steps:
    - uses: actions/checkout@v3

    - name: Build and Check Package
      uses: hynek/build-and-inspect-python-package@v1.5

    - name: Download Package
      uses: actions/download-artifact@v3
      with:
        name: Packages
        path: dist

    - name: Publish package to PyPI
      uses: pypa/gh-action-pypi-publish@v1.8.5

    - uses: actions-ecosystem/action-push-tag@v1
      with:
        tag: v${{ github.event.inputs.version }}

    - name: Set up Python
      uses: actions/setup-python@v4.5.0
      with:
        python-version: "3.10"

    - name: Generate release notes
      run: |
        pip install pypandoc
        sudo apt-get install pandoc
        python scripts/gen-release-notes.py

    - name: GitHub Release
      uses: softprops/action-gh-release@v1
      with:
        body_path: scripts/latest-release-notes.md
